<form class="col-10 mx-auto mt-5" action="/create" method="POST">
  <div class="input-group">
    <input type="text" class="form-control rounded-0" placeholder="New task" name="title" />
    <span><button type="submit" class="btn btn-primary rounded-0">Add task</button></span>
  </div>
</form>

<div class="col-10 mx-auto mt-5">
  <% todoItems.forEach(todoItem => { %>
  <div class="card mb-3">
    <div class="card-body">
      <form action="/change-status" method="POST">
        <div class="form-check float-left" id="change-status-form">
          <input hidden name="id" value="<%= todoItem.id %>"/>
          <input
            type="checkbox"
            class="form-check-input cursor-pointer"
            onchange="document.getElementById('cs<%= todoItem.id %>').click();"
            <%= todoItem.isDone ? 'checked' : '' %>
          />
          <button type="submit" hidden id="cs<%= todoItem.id %>"></button>
          <label
            class="form-check-label ml-3 cursor-pointer <%= todoItem.isDone ? 'line-through' : '' %>"
            data-toggle="modal"
            data-target="#editModal"
            data-id="<%= todoItem.id %>"
            data-title="<%= todoItem.title %>"
            data-description="<%= todoItem.description %>"
            data-duedate="<%= todoItem.dueDate %>"
            ><%= todoItem.title %></label
          >
        </div>
      </form>
      <form action="/delete" method="POST" class="float-right">
        <input hidden name="id" value="<%= todoItem.id %>"/>
        <button type="submit" class="btn-transparent">
          <i class="fas fa-trash-alt bucket"></i>
        </button>
      </form>
    </div>
  </div>
  <% }); %>
</div>

<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/update" method="POST">
        <div class="modal-body">
          <input hidden name="id" id="id"/>
          <div class="mb-3">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title">
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Description:</label>
            <textarea class="form-control" id="description" name="description"></textarea>
          </div>
          <div class="mb-3">
            <label for="due-date" class="col-form-label">Due date:</label>
            <input type="datetime-local" id="due-date" name="dueDate" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
