.float-left {
  float: left;
}

.float-right {
  float: right;
}

.bucket {
  color: red;
  cursor: pointer;
}

.btn-transparent {
  border: none;
  outline: none;
  background: transparent;
}

.cursor-pointer {
  cursor: pointer;
}

.line-through {
  text-decoration: line-through;
}

#due-date {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#due-date:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
